 .navbar__parent__div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar__parent__div h2  {
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out; 
    border-bottom: 0px solid #13FF00;
    transition-delay: 0.05s;
}

.navbar__parent__div h2:hover  {
    color: #13FF00;
    border-bottom: 1px solid #13FF00;
    transition: .2s ease-in-out;
}


.not-active-class {
    color: white;
}

.position {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
} 

.active {
    color: #13FF00;
    border-bottom: 2px solid #13FF00;
    border-width: 50%;
}

